#scripts to ignore
crma_extract/*
dashboards.json
datasets.json
lenses.json
dashboard_list.json
dataset_list.json
lenses_list.json
dashboard_csv.json
dataset_csv.json
lenses_csv.json
*.info

# Local development
.vscode
.env
.venv
.ipynb_checkpoints
.swp
*.env
*.dev
*.log
*.tmp
.DS_Store